* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
    color: black;
    font-family: helvetica;
    text-decoration: none;
  }

a:hover {
  font-weight: bold;
  cursor: pointer;
}

li {
  list-style: none;
  padding: 0.5rem 0;
}

p {
  margin: 0.5rem 0;
}

body::before {
  content: '';
  background: url(./img/kuts.svg) center no-repeat;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  z-index: -1;
 }

.container {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  gap: 1%;
  grid-template-areas:
    "header header"
    "left right"
    "footer footer";
  grid-template-columns: 1fr 2fr;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.footer p {
  font-size: 1.2rem;
  padding-right: 5px;
}

.header, .footer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: rgba(175, 238, 238);
}

.header img {
  width: 60%;
  border-radius: 50%;
  margin: 8px 20%;
}

.footer img {
  width: 30%;
  border-radius: 50%;
  margin: 8px 20%;
}

.face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan {
  display: flex;
  align-items: center;

}

.slogan p {
  border-left: 1px solid black;
  padding-left: 5px;
}

.school {
  display: grid;
  gap: 2%;
  grid-template-areas: "year course school";
  grid-template-columns: auto 3fr 4fr;
  border-bottom: 1px solid #ccc;
}

.school-name {
  grid-area: school;
}

.school div {
  padding: 5px;
  font-size: 1.2rem;
}

.school div:nth-child(2) {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

h1, h2 {
  text-align: center;
  padding: 1rem 0;
  font-family: Raleway, sans-serif;
  letter-spacing: .3rem;
}

 h3 {
  color: #fff;
  background: #696969;
  text-align: center;
  padding: 1rem 0;
  font-family: Raleway, sans-serif;
  letter-spacing: .3rem;
  margin: 10px 0;
}

h1, h2, h3 {
  text-align: center;
  padding: 1rem 0;
  font-family: Raleway, sans-serif;
  letter-spacing: .3rem;
}

.left-part {
  background: rgba(224, 255, 255, 0.8);
  padding: 0.5rem;
}
.english {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.english a {
  display: block;
  width: 50%;
  margin-bottom: 1rem;
}

.english img {
  width: 100%;
}

.right-part {
  background: rgba(175, 238, 238, 0.8);
  padding: 0.5rem;
}

.contacts {
  font-size: 1.2rem;
}

.skille span {
  margin-left: 2rem;

}

.skille {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.skilles img {
  margin-top: 20px;
  width: 100%;
}

.fas, .fab {
  min-width: 2rem;
  color: rgb(143, 67, 230)
}

.summary {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.experience img {
  width: 100px;
  height: 100px;
  border: 7px solid transparent;
}

.experience img:hover {
  border: 0px solid transparent;
}

.projects {
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.project a span{
  display: block;
  text-align: center;
  width: 100px;
}

.projects {
  display: flex;
}

@media screen and (max-width: 768px) {

  .container {
    display: flex;
    flex-direction: column;
    grid-template-areas:
    "header"
    "left"
    "right"
    "footer";
  }

  .header {
    display: block;
  }

  .school {
    grid-template-areas:
      "year course"
      "school school";
    grid-template-columns: auto 1fr;
  }

  .school div:nth-child(2) {
    border-right: none;
    border-left: none;
  }

  .school-name {
    margin-left: 60px;
    color: rgb(134, 134, 134);
  }

  .skilles p, .contacts li {
    margin-left: 80px;
  }
}
